.contentContainer2Section2ACard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15em;
    margin: 1em 1em;
    padding: 0em 2em;
    border: 1px solid white;
    border-radius: 1em;
}

.contentContainer2Section2ACardHeadContainer {}

.contentContainer2Section2ACardHeadContent {
    font-weight: 500;
}

.contentContainer2Section2ACardParaContainer {
    width: 15em;
    margin-top: -1.5em;
}

.contentContainer2Section2ACardParaContent {
    font-weight: 400;
    font-size: 16px;
}

.cardCover {
    background-color: red;
    height: 10.4em;
    position: absolute;
    z-index: 0;
    width: 0.5em;
    left: 4em;
    border: 1px solid white;
    border-radius: 0.4em;
}