.contentContainer3 {
    background: url(//images.ctfassets.net/rz1oowkt5gyp/7KgS3XVFhGu3TiclJKloEp/c10aad1…/ViewsBackground_Left_Narrow.svg) left center / contain no-repeat scroll padding-box border-box, url(//images.ctfassets.net/rz1oowkt5gyp/2HisRmboWIdXSYaaUSDzon/dadecff…/ViewsBackground_Right_Narrow.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255);
    background-blend-mode: normal, normal, normal;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.contentContainer3SectionA {
    margin-top: 2em;
    margin-left: 18em;
}

.contentContainer3SectionAPara {
    font-weight: 500;
    font-size: 2.25em;
    color: white;

}

.contentContainer3SectionB {
    margin-left: 13em;
    width: 40em;
    text-align: center;
}

.contentContainer3SectionBPara {
    font-weight: 400;
    font-size: 1.25em;
    color: white;
}

.contentContainer3SectionC {
    margin-left: 26em;
}

.contentContainer3SectionCBtn {
    font-weight: 400;
    font-size: 1em;
    padding: 0.5em 1em;
    border: 1px solid white;
    border-radius: 0.3em;
}