/* --------------------------------------------------------
 */
nav {
    align-items: center;
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex; 
}

img {
    width: 15%;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 100%;
    width: 100%;
    border: 1px solid red;
}

p,h4{
    color: black;
}

button {
    border: none;
    font-size: large;
    font-weight: 500;
    font-family: sans-serif;
}

button:hover {
    color: blue;
}

.login-btn {
    width: 80px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    font-size: larger;
    font-weight: 400;
    color: black;
}

.login-btn:hover {
    color: black;
}

.get-trello-btn {
    width: 40%;
    height: 70px;
    cursor: pointer;
    background-color: rgb(0, 101, 255);
    color: white;
    padding: 1.75rem;
    padding-right: 5px;
    margin: 0;
    border: 1px solid rgb(3, 88, 216);
    cursor: pointer;
}

.get-trello-btn:hover {
    background-color: rgb(4, 4, 143);
    color: white;
}

li{
    margin-right: 2rem;
}

.dropdown-menu{
    /* position: relative; */
    width: 100%;
    margin: 0;
    padding: 0;
}

.content-container{
    width: 100%;
    height: 70%; 
    background-color: #fff;
    margin: 20px 0 0 0;
    position: absolute;
    display: flex;
    flex-direction: column(1,1);
    padding: 10px;
    text-align:start;
}
 .sub-container-1{
    background-color: #fff;
}
.sub-container-1 >h2{
    color: rgb(14, 30, 56);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: sans-serif;
}
.container-1{
    width: 70%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    margin: 20px;
} 
.container-1sec2{
    background-color: #fff;
    padding: 1.5rem;
    margin: 3rem;
    display: flex;
    justify-content: flex-start;
}

.container-2{
    background-color: #fff;
    width:30%;
    text-align: center;
    /* margin: 20px; */
}

.trello-btn{
    margin-top: 20px;
    width: 200px;
    border: 1px solid rgba(137, 7, 224, 0.5);
    padding: 10px;
    text-align: center;

}
.trello-btn:hover{
    background-color: rgba(137, 7, 224, 0.158);
    color: rgba(0, 0, 0, 0.836);
}
