.footerContainer {
  background-color: #172b4d;
  display: flex;
  padding-top: 1em;
}
.footerSection1 {
}
.footerSection1AContainer {
}
.footerSection1AImgContainer {
    width: 10em;
    margin-left: 4em;
}
.footerSection1AImgContent {
  display: inline-block;
  width: 8em;
}
.footerSection1ALinkContainer {
    margin-left: 4em;
    margin-top: -1em;
}
.footerSection1ALinkContent {
  text-decoration: none;
  color: white;
}
.footerSection1ALinkSpan {
}
.footerSection2 {
    display: flex;
    margin-top: -1em;
}
